.left-align {
  text-align: left;
}
.low-case {
  text-transform: lowercase;
}
.clear {
  clear: both;
}
.padding-std {
  padding: 1rem;
}
.padding-lrg {
  padding: 1.5rem;
}
.padding-sml {
  padding: 0.5rem;
}