.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}
.full-w {
  width: 100%;
}
.low-case {
  text-transform: lowercase;
}
.center-space {
  margin-left: auto;
  margin-right: auto;
}
.clear {
  clear: both;
}
.margin-v-s {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-v-m {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-v-l {
  margin-top: 18px;
  margin-bottom: 18px;
}
.margin-v-xl {
  margin-top: 32px;
  margin-bottom: 32px;
}
.flex-parent {
  display: flex;
}

.flex-child {
  flex: 1;
}

.txt-captalise {
  text-transform: capitalize;
}

.no-margin {
  margin: 0;
}
.margin-s {
  margin: 8px;
}
.margin-m {
  margin: 14px;
}
.margin-l {
  margin: 20px;
}
.margin-xl {
  margin: 32px;
}
.padding-v-s {
  padding-top: 8px;
  padding-bottom: 14px;
}
.padding-v-m {
  padding-top: 14px;
  padding-bottom: 14px;
}
.padding-v-l {
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-v-xl {
  padding-top: 32px;
  padding-bottom: 32px;
}

.margin-left-s {
  margin-left: 8px;
}
.margin-left-m {
  margin-left: 14px;
}
.margin-left-l {
  margin-left: 20px;
}
.margin-left-xl {
  margin-left: 32px;
}
.margin-right-s {
  margin-right: 8px;
}
.margin-right-m {
  margin-right: 14px;
}
.margin-right-l {
  margin-right: 20px;
}
.margin-right-xl {
  margin-right: 32px;
}
.margin-top-s {
  margin-top: 8px;
}
.margin-top-m {
  margin-top: 14px;
} 
.margin-top-l {
  margin-top: 20px;
}
.margin-top-xl {
  margin-top: 32px;
}
.margin-bottom-s {
  margin-bottom: 8px;
}
.margin-bottom-m {
  margin-bottom: 14px;
}
.margin-bottom-l {
  margin-bottom: 20px;
}
.margin-bottom-xl {
  margin-bottom: 32px;
}

.padding-s {
  padding: 6px;
}
.padding-m {
  padding: 12px;
}
.padding-l {
  padding: 18px;
}
.padding-xl {
  padding: 32px;
}

.padding-h-s {
  padding-left: 6px;
  padding-right: 6px;
}

.padding-h-m {
  padding-left: 12px;
  padding-right: 12px;
}
.padding-h-l {
  padding-left: 18px;
  padding-right: 18px;
}
.padding-h-xl {
  padding-left: 24px;
  padding-right: 24px;
}

.padding-v-s {
  padding-top: 6px;
  padding-bottom: 6px;
}
.padding-v-m {
  padding-top: 12px;
  padding-bottom: 12px;
}
.padding-v-l {
  padding-top: 18px;
  padding-bottom: 18px;
}
.padding-v-xl {
  padding-top: 24px;
  padding-bottom: 24px;
}

.padding-left-s {
  padding-left: 6px;
}
.padding-left-m {
  padding-left: 12px;
}
.padding-left-l {
  padding-left: 18px;
}
.padding-left-xl {
  padding-left: 24px;
}
.padding-right-s {
  padding-right: 6px;
}
.padding-right-m {
  padding-right: 12px;
}
.padding-right-l {
  padding-right: 18px;
}
.padding-right-xl {
  padding-right: 24px;
}
.padding-top-s {
  padding-top: 6px;
}
.padding-top-m {
  padding-top: 12px;
} 
.padding-top-l {
  padding-top: 18px;
}
.padding-top-xl {
  padding-top: 24px;
}
.padding-bottom-s {
  padding-bottom: 6px;
}
.padding-bottom-m {
  padding-bottom: 12px;
}
.padding-bottom-l {
  padding-bottom: 18px;
}
.padding-bottom-xl {
  padding-bottom: 24px;
}