:root {
  --main-bg-color       : #efefef;
  --sub-bg-color        : #ccc;
  --highlight-bg-color  : #fff;
  --main-txt-color      : #666; 
  --alt-txt-color       : #999; 
  --sub-txt-color       : #944141;
  --required-txt        :  #b67907;
  --required-bg         : #f3e2c3;
  --confirm-bg          : #1b5e20;
  --cancel-bg           : #b71c1c;
}