input {
  padding: 10px 5px;
}
button {
  padding: 10px 24px;
  

  &.block-btn {
    display: inline-block;
  }
}

@media only screen and (max-width: 800px) {
  input {
    padding: 8px 4px;
  }
  button {
    padding: 8px 16px;
  }
  .h {
    z-index: 1!important;
  } 
}