#header {
  box-shadow  : var(--box-shadow);
  background  : var(--sub-bg-color);
  position    : fixed;
  z-index     : 12;
  top         : 0;
  width       : 100%;

  div.logout {
    margin: 24px;
  }
  
  h1 {
    margin: 0;
    padding: 0;
    line-height: 0;
    position: relative;
    top: 40px;
    color: #fff;
  }

  .header-checkout {
    position: absolute;
    right: 462px;
    top: 12px;
    i {
      top: 6px;
      position: relative;
      margin: 0;
    }
  }
  
   .header-login {
    position: absolute;
    right: 24px;
    top: 14px;
    i {
      top: 6px;
      position: relative;
      margin: 0;
    } 
  }
  &.logged-in {
    .header-checkout {
      right: 80px;
    }
  }

  ul {
    padding: 4px 0 4px 24px;
    li {
      
      list-style  : none;
      width       : 85px;
      display     : inline-block;
      font-size   : 1rem;
      font-weight: bold;
      margin-right: 8px;

      a {
        text-decoration : none;
        color       : var(--brand-color);
        display     : inline-block;
        width: 100%;
        padding-bottom: 4px;
        &:hover {
          color: var(--sub-text-color);
        }
        &.selected {
          color: #fff;
          border-bottom: 1px solid var(--brand-color);
          cursor: default;
          pointer-events: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #header  {
    height: 60px;

    h1 {
      top: 25px;
    }
    ul {
      margin-top: 60px;
      background: black;
      border-top: 1px solid var(--main-border-color);
      padding: 8px 0 8px 24px;
    }
    .header-login {
      right: 12px;
      input {
        width: 180px;
        margin-right: 4px;
      }
  }
  }
  
}