body {
  padding: 100px 0 0;
  margin: 0;
  background: #f5f3f3;
  padding-bottom: 50px;

}
.Select-menu-outer {
  z-index: 1234!important;
}

.app-footer {
  height: 50px;
  width: 100%;
  background: var(--sub-bg-color);
      position: fixed;
    bottom: 0;
  z-index: 123;
}
.lang-selector {
  display: block;
}

//.with-shop {
  .lang-selector {
    display: block;
    position: absolute;
    right: 20px;

    img {
      width: 20px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
//}