
.map-wrap {
    height: 100%; 
    width: 100%; 
    position: relative;

    #map-container {
      height: 100%; 
      width: 100%; 
      min-height: 200px;
      position: relative;
      z-index: 1;
      
       margin: 0;
      }  
    
  }

  p.chart-instructions {
    margin: 0;
    font-size: 13px;
    color: var( --white-txt-color);
    background: var(--sub-bg-color);
  } 