.order {
  border: 1px solid var(--main-border-color);
  padding: 1rem;
  width: 85%;
  position: relative;
  background: var(--highlight-bg-color);
  //&.client-order {
  ul.item-options {
    li {
      padding: 6px 0;

      span.opt-content {
        font-weight: bold;
      }
    }
  }
  
  i {
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 2.5em;
  }

  &.order-new {
    background: var(--brand-color)!important;
    color: var(--white-txt-color)!important;

    i {
      color: var(--white-txt-color)!important;
    }
  }
  
}

.checkout-order-item {
  border: 1px dotted #ddd;
    text-transform: capitalize;
    background: var(--disabled-bg-color);
    position: relative;
  .order-item {
    

    p.item-name {
      font-weight: bold;
      font-size: 1.1em;
    }
    p.item-price {
      font-weight: bold;
      font-size: 1.1em;
    }
  } 
  button {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}


body .orders-page {
  width: 900px;
  .map-wrap {
    height: 500px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    
    .checkout-order-item {
        textarea {
          min-width: 240px;
        }
      }
      
    .orders-page {
      width: 95%;
      margin: 0 auto;
      .map-wrap {
        height: 300px;
      }
      
    }
  }
}

.modal-body .order-item {
  background: var(--solid-bg-color);

  .item-name {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.orders-page {
  textarea {
    min-width: 400px;
  }
}