.shop-page {
  width: 95%!important;
  margin: 0 auto;

  h1 {
        text-align: left;
    margin: 24px 0;
    font-size: 2em;
        background: #31303a;
    padding: 15px;
    display: inline-block;

    color: #fff;
  }
  .order {
    padding: 24px;
    width: auto;
  }
  button {
    padding: 18px 48px;
    font-size: 1.6em;
    display: inline-block;
    background: #eee;
  }
  .map-wrap {
    height: 500px;
  }
  .order-status-actions {
    background: var(--sub-bg-color);
  }

  .app-error {
    width: 100%;
    margin: 0 auto;
    background: var(--error-color);
    border-radius: 4px;
    border: 2px solid var(--sub-bg-color);
    

    p {
      padding: 48px;
      font-size: 4em;
      color: #fff;
      text-align: center;
    }
  }

  .view-order-shop-item {
    padding: 20px;
    margin: 12px 0;
    background: #eee;
  }
  
  h3 {
      border-bottom: 1px solid var(--sub-bg-color);
    }

  h4 {
      font-size: 1.5em;
      border: none;
      color: #000!important;
      border: none!important;
    }
  .shop-order {
    
    h4 {
      font-size: 1.5em;
      border: none;
      color: #000;
    }
    p {
      color: #000;
      &.chart-instructions {
        color: #fff;
      }
    }
    ul.item-options {
      li {
        padding: 6px 0;
        font-size: 1.1em;
        color: #000;

        span.opt-content {
          font-weight: bold;
        }
      }
    }
  }
  
  
}
